@model List<DetailViewModel>

@{
    ViewBag.Title = "Detail class";

}


    <div>

        <table class="table table-striped table-hover mt-2">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tên bánh</th>
                    <th>Thành phần</th>
                    <th>Hạn sử dụng</th>
                    <th>Ngày sản xuất</th>
                    <th>Giá bán</th>
                    <th>Đã xóa</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {

                    foreach (var std in Model)
                    {
                        <tr>
                            <td>@std.Id</td>
                            <td>@std.nameCake</td>
                            <td>@std.ThanhPhan</td>
                            <td>@std.Hsd</td>
                            <td>@std.Nsx</td>
                            <td>@std.GiaBan</td>
                            <td>@std.DaXoa</td>


                            <td>

                                <a asp-controller="Home" asp-action="Details" asp-route-id="@std.Id" class="btn btn-outline-primary">View</a>
                                <a asp-controller="Home" asp-action="Edit" asp-route-id="@std.Id" class="btn btn-outline-primary">Edit</a>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#@("Model"+@std.Id)">
                                    Delete
                                </button>
                                <div class="modal" id="@("Model"+@std.Id)">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form asp-controller="Home" asp-action="Delete" method="post">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Confirm delete cake</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure want to remove this cake?
                                                </div>
                                                <div class="modal-footer">
                                                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@std.Id" class="btn btn-outline-primary">Yes</a>
                                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <a asp-controller="Home" asp-action="Create" class="btn btn-outline-primary" style="width:auto">Tạo Bánh</a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Trở lại</a>
    </div>
